modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["github:1.0.0", "revenuecat:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3002

[[ports]]
localPort = 20703
externalPort = 3000

[[ports]]
localPort = 20704
externalPort = 3001

[[ports]]
localPort = 21342
externalPort = 5000

[[ports]]
localPort = 21343
externalPort = 6800

[[ports]]
localPort = 25261
externalPort = 3003

[[ports]]
localPort = 25262
externalPort = 4200

[userenv]

[userenv.shared]
GOOGLE_API_KEY = "AIzaSyA-QhjL9G-WEfqjyAVHl1kaVkz1LTrRJNo"
REVENUECAT_PROJECT_ID = "proj9c1919f0"
REVENUECAT_TEST_STORE_APP_ID = "app5c5ca2ad1a"
REVENUECAT_APPLE_APP_STORE_APP_ID = "appa31011b39a"
REVENUECAT_GOOGLE_PLAY_STORE_APP_ID = "app7b7fc89f20"
REVENUECAT_ENTITLEMENT_ID = "premium"
EXPO_PUBLIC_REVENUECAT_TEST_API_KEY = "test_lWaeoAyQjijDVsnDFoojkrumfAx"
EXPO_PUBLIC_REVENUECAT_IOS_API_KEY = "appl_nCvTTUxdJpKxeAqEUtntHTTuHvV"
EXPO_PUBLIC_REVENUECAT_ANDROID_API_KEY = "goog_wswrltSsrqhqrsQrVvOPavTIzMA"
RAZORPAY_PLAN_ID_MONTHLY = "plan_SfJ40MDxC4rV1k"
RAZORPAY_PLAN_ID_QUARTERLY = "plan_SfJ4ox4f6IPkNh"
RAZORPAY_PLAN_ID_YEARLY = "plan_SfJ5ID9em2b88S"

[nix]
channel = "stable-25_05"
